<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"/>
</head>
<body>
<!--Форма добавления -->
<div class="container col-sm-3" >
<form action="#" th:action="@{/save}" th:object="${newMeal}" method="post">
    <div class="form-group">
    <input type="hidden" th:field="*{id}"/>
        <label for="dateInput">Date/Time</label>
        <input type="datetime-local" id="dateInput" class="form-control" th:field="*{dateTime}"/>
    </div>
    <div class="form-group">
        <label for="descInput">Description</label>
        <input type="text" id="descInput" class="form-control" th:field="*{description}"/>
    </div>
    <div class="form-group">
        <label for="caloriesInput">Calories</label>
        <input type="number" id="caloriesInput" class="form-control" th:field="*{calories}"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<!-- Таблица meals -->
<div class="container col-md-8">
    <table id="myTableId" class="table">
        <thead class="">
        <tr>
            <th>Date Time</th>
            <th>Description</th>
            <th>Calories</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="meal : ${meals}" th:class="${meal.isExceed()}? 'bg-danger':'bg-success'">
            <td th:text="${meal.getDateTime()}">1</td>
            <td th:text="${meal.getDescription()}">1</td>
            <td th:text="${meal.getCalories()}">1</td>
            <td><a href="meals.html" class="btn btn-warning" th:href="@{edit(id=${meal.getId()})}">edit</a></td>
            <td><a href="meals.html" class="btn btn-danger" th:href="@{delete(id=${meal.getId()})}">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>